table.calendar td {
    padding: 20px;
    font-size: 40pt;
    text-align: center;
    border-style: solid;
    border-color: #1d1d1d;
    cursor: pointer;
    user-select: none;
}

table.calendar th {
    text-align: center;
}

#calendarDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

p.arrow {
    padding: 20px;
    padding-top: 0px;
    font-size: 60pt;
    border-style: solid;
    border-color: transparent;
    user-select: none;
}

    p.arrow:hover {
        border-color: grey;
        cursor: pointer;
    }

#calendarTitleDiv {
    display: flex;
    justify-content: center;
    font-size: 20pt;
    margin-bottom: -20px;
}

div.pageTop {
    display: flex;
    align-items: center;
}

#logo {
    height: 100px;
    margin-left: 30px;
}

#login {
    text-align: center;
}

#titleLoginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    user-select: none;
}

    #titleLoginButton:hover {
        cursor: pointer;
        border-style: solid;
        border-color: lightgray;
    }

#title {
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
    margin-bottom: 0px;
}

#backButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    width: 100px;
    height: 100px;
    text-align: center;
}

    #backButton:hover {
        cursor: pointer;
        border-style: solid;
        border-color: lightgray;
    }

#loginViewDiv {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password {
    border: none;
    border-bottom: solid;
    border-bottom-color: lightgray;
    border-width: 1px;
    width: 300px;
    font-size: 20pt;
}

#email {
    border: none;
    border-bottom: solid;
    border-bottom-color: lightgray;
    border-width: 1px;
    width: 300px;
    font-size: 20pt;
}

#loginButton {
    font-size: 20pt;
    color: white;
    background-color: #082B3E;
    width: 300px;
}

    #loginButton:hover {
        cursor: pointer;
    }

#loginMessage {
    color: red;
    width: 300px;
}

#searchView {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchText {
    font-size: 20pt;
    border: none;
    border-bottom: solid;
    border-color: #082B3E;
    margin-right: 15px;
    border-width: 1px;
}

#searchButton {
    height: 30px;
    margin-right: 30px;
}
    #searchButton:hover {
        cursor: pointer;
    }
input:focus {
    outline: none;
}

#calendarLegend {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#whiteBox {
    width: 50px;
    height: 50px;
    background-color: white;
    border: solid;
    border-color: gray;
    border-width: 1px;
}

#greenBox {
    width: 50px;
    height: 50px;
    background-color: lightgreen;
    border: solid;
    border-color: lightgreen;
    border-width: 1px;
}

#redBox {
    width: 50px;
    height: 50px;
    background-color: red;
    border: solid;
    border-color: red;
    border-width: 1px;
}

p.legend {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#ssnText {
    font-size: 20pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5px;
    margin-left: auto;
    margin-bottom: 0px;
}

#plotTitle {
    font-size: 20px;
}

#afLegend {
    display: flex;
    justify-content: center;
}